﻿@model WebColegio.Data.Entities.Evaluation

@{
    ViewData["Title"] = "Create";
}





<!-- Main content -->
<section class="content">
    <div class="container-fluid">


    @if (ViewData["Message"] != null) {
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-warning"></i>
                            Información
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fa fa-ban"></i> Información!</h5>
                             @ViewData["Message"]
                        </div>
                         
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

        </div>
    }

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Registro de Evaluación</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" asp-action="Create">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="EvaluationDetail" class="control-label col-md-2"></label>
                                    <input asp-for="EvaluationDetail" class="form-control" />
                                    <span asp-validation-for="EvaluationDetail" class="text-danger"></span>
                                 </div>
                                <div class="form-group">
                                    <label asp-for="Percentage" class="control-label col-md-2"></label>
                                    <input asp-for="Percentage" class="form-control" />
                                    <span asp-validation-for="Percentage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label col-md-2"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-primary">Adicionar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                    <div>
                        <a asp-action="Index">Lista de evaluaciones</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
