﻿@model WebColegio.Data.Entities.Evaluation

@{
    ViewData["Title"] = "Edit";
}
 

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Editar Evaluación</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Edit">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="EvaluationDetail" class="control-label col-md-2"></label>
                                <input asp-for="EvaluationDetail" class="form-control" />
                                <span asp-validation-for="EvaluationDetail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Percentage" class="control-label col-md-2"></label>
                                <input asp-for="Percentage" class="form-control" />
                                <span asp-validation-for="Percentage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label col-md-2"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" value="Editar" class="btn btn-info">Editar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <div>
                    <a asp-action="Index">Lista de evaluaciones</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
