﻿@model IEnumerable<WebColegio.Data.Entities.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Evaluaciones</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Percentage)</th>
                                <th> @Html.DisplayNameFor(model => model.EvaluationDetail)</th>
                                <th> @Html.DisplayNameFor(model => model.Description)</th> 
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percentage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EvaluationDetail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td> 
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalles</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th> @Model.Sum(p => p.Percentage)% @Html.DisplayNameFor(model => model.Percentage)</th>
                                <th> @Html.DisplayNameFor(model => model.EvaluationDetail)</th>
                                <th> @Html.DisplayNameFor(model => model.Description)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" asp-action="Create">Nueva Evaluación</a>
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
 