﻿@model WebColegio.Models.StudentEvaluationsViewModel

@{var name = Model.Student.Name + " " + Model.Student.LastName; Model.StudentId = 1; var i = Model.Student.Id; }

@{
    ViewData["Title"] = "Crear";
    ViewData["Pagina"] = "Estudiantes";
    ViewData["Form"] = "Nuevo Estudiante";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Notas para el estudiante: @name</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="AddEvaluation">
                        <div class="card-body">
                            <input asp-for="StudentId" value="@i" class="form-control" type="hidden" />
                            <div class="form-group">
                                <label asp-for="EvaluationId" class="control-label col-md-2"></label>
                                <select asp-for="EvaluationId" asp-items="Model.Evaluations" class="form-control"></select>
                                <span asp-validation-for="EvaluationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Qualification" class="control-label"></label>
                                <input asp-for="Qualification" class="form-control" />
                                <span asp-validation-for="Qualification" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" value="Create" class="btn btn-primary">Adicionar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <div>
                    <a asp-action="Index">Lista de estudiantes</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
