﻿@model WebColegio.Data.Entities.Student

@{
    ViewData["Title"] = "Crear";
    ViewData["Pagina"] = "Estudiantes";
    ViewData["Form"] = "Nuevo Estudiante";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Registro de Estudiante</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Create">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label col-md-2"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label col-md-2"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Codigo" class="control-label col-md-2"></label>
                                <input asp-for="Codigo" class="form-control" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Identification" class="control-label col-md-2"></label>
                                <input asp-for="Identification" class="form-control" />
                                <span asp-validation-for="Identification" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" value="Create" class="btn btn-primary">Adicionar</button>
                        </div> 
                    </form>
                </div>
                <!-- /.card -->
                <div>
                    <a asp-action="Index">Lista de estudiantes</a>
                </div>
            </div> 
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
