﻿@model WebColegio.Data.Entities.Student

@{
    ViewData["Title"] = "Detalles";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
               
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detalles del estudiante</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-book mr-1"></i> @Html.DisplayNameFor(model => model.Name)</strong>
                        <p class="text-muted">
                            @Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.LastName)
                        </p>
                        <hr>
                        <strong><i class="fa fa-pencil mr-1"></i> @Html.DisplayNameFor(model => model.Codigo)</strong>
                        <p class="text-muted">
                            @Html.DisplayFor(model => model.Codigo)
                        </p>
                        <hr>

                        <div>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
                            <a class="btn btn-default" asp-action="Index">Estudiantes</a>
                        </div>

                    </div>
                    <!-- /.card-body -->
                     

                </div>
                <!-- /.card -->
            </div> 
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

