﻿@model IEnumerable<WebColegio.Data.Entities.Student>

@{
    ViewData["Title"] = "Index";
    ViewData["Pagina"] = "Estudiantes";
    ViewData["Form"] = "Listado de Estudiantes";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Estudiantes</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre </th>
                                <th>Apellido</th>
                                <th>Codigo</th>
                                <th>Número Identificación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Identification)
                                </td>
                                <td>
                                    <a asp-action="AddEvaluation" asp-route-id="@item.Id" class="btn btn-danger">Regitrar Notas</a> 
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalles</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Nombre </th>
                                <th>Apellido</th>
                                <th>Codigo</th>
                                <th>Número Identificación</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="box-footer">
                <a  class="btn btn-primary" asp-action="Create">Nuevo Estudiante</a>
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
 
