﻿@model IEnumerable<WebColegio.Data.Entities.StudentEvaluation>

@{
    ViewData["Title"] = "Index";
}
 
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Calificaciones</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>   @Html.DisplayNameFor(model => model.Qualification) </th>
                                <th> Estudiante</th>
                                <th> Evaluación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qualification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Student.Name)
                                    @Html.DisplayFor(modelItem => item.Student.LastName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Evaluation.EvaluationDetail)
                                </td>
                                <td>
                                    <a asp-action="DeleteStudentEvaluation" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Qualification) </th>
                                <th>Estudiante</th>
                                <th>Evaluación</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div> 
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
