﻿@{
    ViewData["Title"] = "Inicio";
    ViewData["Pagina"] = "Inicio";
    ViewData["Form"] = "Principal";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewData["Evaluaciones"]</h3>
                        <p>Evaluaciones</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-controller="Evaluations" asp-action="index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewData["Estudiantes"] </h3>
                        <p>Estudiantes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-controller="Students" asp-action="index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
           
        </div>
        <!-- /.row -->
        
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->